<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html xml:lang="nl" lang="nl" xmlns="http://www.w3.org/1999/xhtml">

<head>
	<meta http-equiv="Content-Style-Type" content="text/css"/>
	<meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-15"/>
	<meta http-equiv="Content-Language" content="nl"/>

	<style type="text/css">@import "style.css";</style>

	<title>Mark Van den Borre | Muziek en Digitale Vrijheid</title>
</head>

<body>

<!-- Begin Main Table -->
	<!-- Begin Header --> 
<div class="siteframe">
  <div class="bodyframe">
    <div class="menumain">
      <div class="menutable">
        <img src="foto/markcv.jpeg" height="128" width="96" />
        <a class="nav" href="index.html">Start</a>
        <a class="nav" href="partituren.html">Partituren</a>
        <a class="nav" href="vrijesoftware.html">Vrije software-bijdragen</a>
        <a class="nav" href="schrijvelarij.html">Schrijvelarij</a>
	<a class="nav" href="frigo.html">kUNST uIT dE fRIGO</a>
        <a class="nav" href="contact.html">Contact</a>
      </div>
    </div>
    <div class="contentframe">
{{ content }}
    </div>
    <div class="footer">
Copyright 2003 - 2011 Mark Van den Borre - mark@markvdb.be
    </div>
  </div>
</div>


</body>

</html>

